


.task1 p{
    background-color:aquamarine;
    border:1px solid;
    width: 80%;
}

.p2{
    text-align: center;
}

.p3{
    text-align: right;
}

.p4{
    text-align: left;
}

.p5{
    text-align-last: center;
}

 

.task2 p{
    width: 60%;
    height: 60px;
    margin: 20px auto;
    text-align: center;
    background-color: aliceblue;
}

.task2 .a1{
    border-color: 2px blue solid;
}





