@import  url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: poppins;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #1F2E35;
}
img{
    width: 40px;
}
.menu{
    width: 100%;
    padding-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-around;
   
}
.menu ul{
    width: 30%;
    color: #fff;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu button{
    width: 89px;
    height: 39px;
    border-radius: 8px;
    background-color: #0086D6;
}



.main{
    width: 100%;
    height: 750px;
    background-color: #1F2E35;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main2{
    width: 84%;
    height: 630px;
    display: flex;
    margin: auto;
    margin-top: 50px;
    justify-content: space-between;
}
.main2-1{
    margin-top: 80px;
}
.main img{
    width: 630px;
    height: 630px;
}
.main2 h1{
    width: 554px;
    height: 183px;
    margin-left: 40px;
    margin-bottom: 30px;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
    color: #fff;
}
.main p{
    width: 554px;
    height: 73px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 37px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;  
    margin-left: 40px;
    margin-bottom: 50px;
    color: #fff;
}
.main a{
    width: 177px;
    height: 60px;
    padding: 15px 27px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #0086D6;
    text-decoration: none;
    margin-left: 40px;
    color: #fff;
}
.main-img img{
    width: 296px;
    height: 46px;
    margin-top: 70px;
    margin-left: 30px;
}



.tools{
    width: 80%;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;
}
.tool1 h1{
    color: #0086D6;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;  
    color: #0086D6;
}
.tool1 h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #333E44;
}
.tool1 p{
    width: 262px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}
.tool2 h1{
    color:#2BA093;
    ;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;  
}
.tool2 h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #333E44;
}
.tool2 p{
    width: 262px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}
.tool3 h1{
    color: #0086D6;
    font-size: 32px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;  
    color: #FF3366;
}
.tool3 h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #333E44;
}
.tool3 p{
    width: 262px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}



.mptools{
    width: 100%;
}
.mptools h1{
    color: #333E44;
    font-size: 36px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
}
.mptools p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #475E69;
    margin-top: 20px;
}
.mptools1{
    width: 80%;
    height: 400px;
    margin-top: 50px !important;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
}
.mptools1 img{
    width: 319px;
    height: 187px;
    top: 20px;
    left: 20px;
    padding: 43px, 0px, 44px, 0px;
    border-radius: 5px;
    margin: auto;
}
.mptools1-1{
    box-shadow: 0px 32px 56px 0px #00000014;
}
.mp1{
    width: 315px;
    border-radius: 8px;
    gap: 30px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.mp1 h4{
    color:#333E44;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}
.mp1 p{
    color: #20C08B;
    margin: 10px 0px;    
}
.mp1-1 p{
    width: 300px;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #475E69;
    margin-top: 10px;
}
.mp1-1-main{
    display: flex;
    text-align: left;
    margin-top: 15px;
}
.mp1-2 a{
    width: 202px;
    height: 33px;
    color:#0086D6;
    text-decoration: none;
    border: 1px solid;
    border-color: #E1EBFB;
    background-color:#E1EBFB;
    border-radius: 4px;
    margin-right: 10px;
}
.mp1-3 a{
    width: 202px;
    height: 33px;
    color:#0086D6;
    text-decoration: none;
    border: 1px solid;
    border-color: #E1EBFB;
    background-color:#E1EBFB;
    border-radius: 4px;
}



.button{
    border: 1px solid #333E44;
    background-color: #333E44;
    color: #fff;
    width: 159px;
    height: 45px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 60px;
}



.nctool{
    width: 100%;
    height: 840px;
    background-color:#F9F9F9;
}
.nctools{
     width: 100%;
}
.nctools h1{
    color: #333E44;
    font-size: 36px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.20000000298023224px;
    text-align: center;
    padding-top: 70px;
}
.nctools p{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #475E69;
    margin-top: 20px;
}
.nctools1{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}
.nctooldiv{
    width: 48%;
    height: 194px;
    margin-top: 70px;
    border-radius: 8px;
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0px 8px 32px 0px #00000014;
}
.nctoolimg img{
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    margin: 40px 30px;
    justify-content: space-between;
}
.ncyazi{
    width: 70%;
}
.nc1{
    width: 315px;
    border-radius: 8px;
    margin-top: 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.nc1 h4{
    color:#333E44;
    font-size: 28px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
}
.nc1 p{
    color: #20C08B;
    margin: 10px 0px;    
}
.nc1-1 p{
    width: 300px;
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #475E69;
    margin-top: 10px;
}
.nc1-1-main{
    display: flex;
    text-align: left;
    margin-top: 15px;
}
.nc1-2 a{
    width: 202px;
    height: 33px;
    color:#0086D6;
    text-decoration: none;
    border: 1px solid;
    border-color: #E1EBFB;
    background-color:#E1EBFB;
    border-radius: 4px;
    margin-right: 10px;
}
.nc1-3 a{
    width: 202px;
    height: 33px;
    color:#0086D6;
    text-decoration: none;
    border: 1px solid;
    border-color: #E1EBFB;
    background-color:#E1EBFB;
    border-radius: 4px;
}



.brand{
    width: 100%;
    height: 400px;
}
.mainbrand{
    width: 100%;
    height: 150px;
    text-align: center;
    margin-top: 50px;
}
.mainbrand h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0.20000000298023224px;
    color:#333E44;
}
.mainbrand p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: #475E69;
}
.tbbrand{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.tbbrands{
    width: 360px;
    box-shadow: 0px 8px 50px 0px #0000001A;
}
.tbbrands img{
    width: 110px;
    margin: 10px 100px;
    text-align: center;
}
.tbbrands p{
    text-align: center;
    width: 328px;
}



.testimonial{
    width: 100%;
    height: 560px;
    background-color: #F9F9F9;

}
.maintest{
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 50px;
}
.maintest h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0.20000000298023224px;
    color:#333E44;
}
.maintest p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: #475E69;
}
.testgroup{
    width: 68%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 60px;
}
.testgroups{
    width: 360px;
    height: 270px;
    box-shadow: 0px 16px 50px 0px #00000014;
    background-color: #fff;
    margin: auto;
}
.testgroups img{
    width: 110px;
    height: 18px;
}
.testimg img{
    width: 170px;
    height: 64px;
    margin-top: 10px;
    margin-left: 20px;
}
.testall{
    margin-top: 20px;
    margin-left: 20px;
}
.testgroups p{
    width: 315px;
    height: 108px;
}



.footer{
    width: 100%;
    background-color: #1F2E35;
    border-bottom: 1px solid #666666;
}
.foottest{
    width: 100%;
    height: 150px;
    text-align: center;
    padding-top: 50px;
    color: #fff;
}
.foottest h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0.20000000298023224px;
}
.foottest p{
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
}
.input-group{
    width: 440px;
    height: 130px;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
}
.in input{
    width: 282px;
    height: 42px;
    object-fit: cover;
}
.sub input{
    width: 145px;
    height: 42px;
    background-color: #0086D6;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.30000001192092896px;
    text-align: center;
    color: #fff;
}
.footer2{
    width: 100%;
    height: 250px;
    background-color: #1F2E35;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.foot2{
    width: 30%;
    margin: auto;
    text-align: center;
    line-height: 40px;
}
.foot2img img{
    width: 152px;
    margin-left: 70px;
}
.foot2a{
    width: 160px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.foot2 a{
    width: 10px;
    margin-left: 40px;
}
.foot3{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.foot3 div h4{
    width: 105px;
    height: 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    color: #fff;
}
.foot3 div p{
    width: 200px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    text-align: left;
    line-height: 35px;
    color: #fff;
}
.footer3{
    width: 100%;
    height: 70px;
    background-color:#1D292F;
}
.footer3 h4{
    width: 338px;
    height: 30px;
    padding-top: 25px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    margin: auto;
}