/*
.box{
    width: 200px;
    height: 200px;
    position: relative;
}
.box .front, .box .back{
    width: inherit;
    height: inherit;
    position: absolute;
    backface-visibility: hidden;
    transition: 1s transform;
}



.box .front{
    background: blueviolet;
}

.box .back{
    background: fuchsia;
    transform: rotateX(-180deg);
}

.box:hover .front{
    transform: rotateX(180deg);
}

.box:hover .back{
    transform: rotateX(0deg);
}
*/

/*
.box{
    width: 30%;
    height: 50px;
    border: 1px solid black;
}

.anim{
    width: 10%;
    height: 100%;
    animation-name: animated;
    animation-direction: normal;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes animated{
    from{
        width: 25%;
        left: 0;
        background-color: blue;
    }
    to{
        width: 90%;
        left: 80%;
        background-color: aquamarine;
    }
}
*/

